#ekip{
    width: 100%;
    height: 400px;
    position: relative;

    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../img/hristo.JPG");
    z-index: -1;


}
#tekstEkip {
    margin-right: auto;
    margin-left: auto;
}