#ekip{
    width: 100%;
    height: 955px;
    position: relative;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../img/obshta snimka.jpg");
}
#ekipnSnimka{
    position: relative;
}
#tekstEkip {
    margin-right: auto;
    margin-left: auto;
}
.text-center{
    color: white;
}

